#### List Comprehension

In [1]:
dictionary = {"Name":"Ali", "Age":24, "City":"KHI"}

In [2]:
keys=[]

for i in dictionary:
    keys.append(i)
    
keys

['Name', 'Age', 'City']

In [3]:
new_keys = [j for j in dictionary]
new_keys

#[expression for item in iterable]

['Name', 'Age', 'City']

In [4]:
lst = [13,14,17,18]

In [5]:
greater_15 = [i for i in lst if i>15]
greater_15

[17, 18]

In [6]:
greater_15 = [i if i>15 else 0 for i in lst]
greater_15

[0, 0, 17, 18]

In [12]:
Employee = [{"Name":"Ali", "Age":24, "City":"KHI"},
            {"Name":"Ahmed", "Age":30, "City":"LHR"},
            {"Name":"Ali", "Age":17, "City":"ISB"}]

In [13]:
Employee

[{'Name': 'Ali', 'Age': 24, 'City': 'KHI'},
 {'Name': 'Ahmed', 'Age': 30, 'City': 'LHR'},
 {'Name': 'Ali', 'Age': 17, 'City': 'ISB'}]

In [14]:
def age(dic):
    return dic["Age"]

In [17]:
sorted(Employee, key=age, reverse = True)

#Sorts list wrt given parameter(key)
#reverse returns in descending order

[{'Name': 'Ahmed', 'Age': 30, 'City': 'LHR'},
 {'Name': 'Ali', 'Age': 24, 'City': 'KHI'},
 {'Name': 'Ali', 'Age': 17, 'City': 'ISB'}]

#### Lambda function
* used to avoid separate function declaration
* it is declared, called and ends at the same place
* syntax: lambda i/p parameter : return parmeter

In [16]:
sorted(Employee, key = lambda dic: dic["Age"])

[{'Name': 'Ali', 'Age': 17, 'City': 'ISB'},
 {'Name': 'Ali', 'Age': 24, 'City': 'KHI'},
 {'Name': 'Ahmed', 'Age': 30, 'City': 'LHR'}]